extends layout.pug

block content
    
    != messages("message", locals)
            
    if user
        h1 Welcome, #{user.first_name}.
    else
        h1 Welcome.

    h4 Please register or login.
