extends layout.pug

block content
            
    if user
        h1 Welcome, #{user.first_name}.
    else
        h1 Welcome.
        h4 Please #[a(href="/user/register") register] or #[a(href="/user/login") login].
