html
    
    head
        // bootstrap css
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        
        // custom css
        link(rel="stylesheet" href="/css/style.css")
    
    body
        
        nav(class="navbar navbar-default")
            
            div(class="container-fluid")
            
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                        
                    li
                        a(href="/weight") Weight

                ul(class="nav navbar-nav navbar-right")
                    if user
                        li
                            p(class="navbar-text")
                                b #{user.first_name}
                        
                        li
                            a(href="/user/logout") Logout
                    else
                        li
                            a(href="/user/register") Register
                        li
                            a(href="/user/login") Login

        if settings.env === "development"
            span(class="center-block label label-warning") Development
        
        div(class="container")
    
            block content

        // jquery
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")

        // bootstrap js
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
