html
    
    head
        // bootstrap css
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    
    body
        
        ul(class="nav nav-tabs")
            
            li
                a(href="/") Home
            
            if user
                li
                    a(href="/user/logout") Logout
            else
                li
                    a(href="/user/register") Register
                li
                    a(href="/user/login") Login
        
        if settings.env === "development"
            span(class="center-block label label-warning") Development
        
        div(class="container")
    
            block content

        // jquery
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")

        // bootstrap js
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
