extends layout.pug


block content

    h1 Weight
    
    br

    // weight errors
    if errors
        for error in errors
            div(class="alert alert-danger") #{error.msg}

    // weight form
    form(method="post" action="/weight")

        div(class="form-group")
            label Date
            input(type="date" name="date" class="form-control")

        div(class="form-group")
            label Weight
            input(type="number" name="weight" class="form-control")

        button(type="submit" class="btn btn-default") Submit

    br

    // user weights
    table(class="table table-bordered table-striped table-hover")
        
        tr
            th(class="text-center") Date
            th(class="text-center") Weight
            th(class="text-center")
        
        for weight in weights
            tr
                td(class="text-center") #{moment(weight.date).utc().format("MM/DD/YYYY")}
                td(class="text-center") #{weight.weight}
                td(class="text-center")
                    a(href="#")
                        span(class="glyphicon glyphicon-trash text-danger")
