extends layout.pug


block content

    h1 Weight
    
    br

    // weight form
    form(method="post" action="/weight")

        div.form-group
            label Date
            input.form-control(type="date" name="date")

        div.form-group
            label Weight
            input.form-control(type="number" name="weight")

        button.btn.btn-default(type="submit") Submit

    br

    // user weights
    table.table.table-bordered.table-striped.table-hover
        
        tr
            th.text-center Date
            th.text-center Weight
            th.text-center
        
        for weight in weights
            tr
                td.text-center #{moment(weight.date).utc().format("MM/DD/YYYY")}
                td.text-center #{weight.weight}
                td.text-center
                    a(href="#")
                        span.glyphicon.glyphicon-trash.text-danger
