extends layout.pug


block content    

    h1 WEIGHT
    
    form(method="post" action="/weight")

        div(class="form-group")
            label Date
            input(type="date" name="date" class="form-control")
        
        div(class="form-group")
            label Weight
            input(type="number" name="weight" class="form-control")

        button(type="submit" class="btn btn-default") Submit
