extends ../layout.pug


block content    
            
    h1 Feedback
    
    br
    
    form(id="feedback" method="post")

        div.form-group
            label Email
            input.form-control(type="email" name="email" value=user.email)
        
        div.form-group
            label Feedback
            textarea.form-control(name="feedback" placeholder="Tell us what you think!" form="feedback" rows="8")

        button.btn.btn-default(type="submit") Send
