extends ../layout.pug


block content    
            
    h1 Forgot
    
    br
        
    // registration errors
    if errors
        for error in errors
            div.alert.alert-danger #{error.msg}
    
    form(method="post" action="/user/forgot")

        div.form-group
            label Email
            input.form-control(type="email" name="email" placeholder="Email")

        button.btn.btn-default(type="submit") Submit
