extends ../layout.pug


block content    
            
    h1 Login
    
    br
    
    form(method="post" action="/user/login")

        div.form-group
            label Email
            input.form-control(type="email" name="email" placeholder="Email")
        
        div.form-group
            label Password
            input.form-control(type="password" name="password" placeholder="Password")

        button.btn.btn-default(type="submit") Submit
        
        div.pull-right
            a(href="/user/forgot") Forgot Password?
