extends ../layout.pug


block content    

    h1 Password
    
    br
    
    // registration form
    form(method="post" action="/user/password")
        
        div.form-group
            label Current Password
            input.form-control(type="password" name="current_password")
                
        div.form-group
            label New Password
            input.form-control(type="password" name="new_password")
                
        div.form-group
            label Confirm Password
            input.form-control(type="password" name="confirmation")

        button.btn.btn-default(type="submit") Update
