html
    
    head
        
        include includes/head
    
    body
        
        include includes/development
        
        include includes/navigation
        
        div.container
            
            include includes/messages
    
            block content
                
        block scripts

            include includes/scripts
