extends ../layout.pug


block content    
            
    h1 Forgot
    
    br
    
    form(method="post" action="/user/forgot")

        div.form-group
            label Email
            input.form-control(type="email" name="email" placeholder="Email")

        button.btn.btn-default(type="submit") Submit
