extends ../layout.pug


block content    
            
    h1 Reset
    
    br
    
    form(method="post")

        div.form-group
            label Password
            input.form-control(type="password" name="password" placeholder="Password")
                
        div.form-group
            label Confirm Password
            input.form-control(type="password" name="confirmation" placeholder="Confirm Password")

        button.btn.btn-default(type="submit") Submit
